Repository 7rikazhexde/trial-test: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, mdformat

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort ci tests calculator

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black ci tests calculator

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: poetry run flake8 ci tests calculator

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat README.md

:green_heart:Update GitHub Action
  .github/workflows/test_summary.yml
Due: none

:green_heart:Revert GitHub Action
  .github/workflows/test_summary.yml
Due: none

:green_heart:Update GitHub Action
  .github/workflows/test_githubpages_deploy_mulch.yml
Due: none

:green_heart:Update GitHub Action
  .github/workflows/test_githubpages_deploy_mulch.yml
  .github/workflows/test_githubpages_deploy_multi.yml
Due: none

:green_heart:Update GitHub Action
  .github/workflows/test_githubpages_deploy_multi.yml
Due: none

:green_heart: Fixed GitHub Action
  .github/workflows/test_githubpages_deploy_multi.yml
Due: none

:green_heart:Fixed GitHub Action
  .github/workflows/test_githubpages_deploy_multi.yml
Due: none

feat: initialization process
  .github/workflows/test_branch.yml
  .github/workflows/test_githubpages_deploy.yml
  .github/workflows/test_githubpages_deploy_multi.yml
  .github/workflows/test_summary.yml
  .gitignore
  .markdownlint.json
  .pre-commit-config.yaml
  .vscode/settings.json
  LICENSE
  README.md
  calculator/__init__.py
  calculator/operations.py
  ci/input_test.py
  ci/run_git_tag_base_pyproject.py
  ci/update_pyproject_version.py
  create_post-commit.sh
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/__init__.py
  tests/test_operations.py
  version.txt
Due: isort, black, flake8, mypy, mdformat

:green_heart:Setup GitHub Action
  .github/workflows/test_githubpages_deploy_multi.yml
Due: none

:green_heart:Update GitHub Action and Test Code
  .github/workflows/test_githubpages_deploy_multi.yml
  tests/test_operations.py
Due: isort, black, flake8, mypy

:green_heart:Fixed GitHub Action and Test Code
  .github/workflows/test_branch.yml
  .github/workflows/test_githubpages_deploy.yml
  .github/workflows/test_summary.yml
  tests/test_operations.py
Due: isort, black, flake8, mypy

:green_heart:Update GtHub Action
  .github/workflows/test_branch.yml
  README.md
Due: mdformat

:green_heart:Update GitHub Actions
  .github/workflows/test_branch.yml
  .github/workflows/test_githubpages_deploy_multi.yml
  .github/workflows/test_summary.yml
  README.md
Due: mdformat

:green_heart:Fixed GitHub Action
  .github/workflows/test_branch.yml
Due: none

:green_heart:Fixed GitHub Actions
  .github/workflows/test_branch.yml
Due: none

:green_heart:Update GitHub Actions
  .github/workflows/test_branch.yml
  .github/workflows/test_summary.yml
Due: none

:green_heart:Fixed GitHub Actions
  .github/workflows/test_branch.yml
  .github/workflows/test_summary.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$, but not: resources_bin.py
  flake8: any of: \.py$
  mypy: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
